# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Jupyter Notebook (output 제거 원하면)
*.ipynb_checkpoints

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data files (raw data 숨기기)
data/
*.csv

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Power BI temp
*.pbix.autosave

# Environment
.env
.venv/
